header{
    background: black;
    color: antiquewhite;
    height: 200px;
    align-content: center;
    align-items: center;
}

.passo {
    display: none;
    
}
.passo.ativo {
    display:block;
}

body {
    background-color: black;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
}
.doom {
    font-size: 20px;
}
.undertale {
    font-size: 20px;
}
.roblox {
    font-size: 20px;
}
.elden {
    font-size: 20px;
}